Interface/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IService1_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Diconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Diconnect" />
  </wsdl:message>
  <wsdl:message name="IService1_Diconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DiconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFile" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFolder" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IService1_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Connect" message="tns:IService1_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConnectResponse" message="tns:IService1_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Diconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Diconnect" message="tns:IService1_Diconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DiconnectResponse" message="tns:IService1_Diconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchFile" message="tns:IService1_SearchFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchFileResponse" message="tns:IService1_SearchFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchFolder" message="tns:IService1_SearchFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchFolderResponse" message="tns:IService1_SearchFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Insert" message="tns:IService1_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertResponse" message="tns:IService1_Insert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap:operation soapAction="http://tempuri.org/IService1/Connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Diconnect">
      <soap:operation soapAction="http://tempuri.org/IService1/Diconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFolder">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IService1/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>